{% extends 'base.html' %}
{% block title %}About{% endblock title %}

{% block body %}
<h1 class="text-center"> About Us</h1>
<hr>

<h1 class="">Introduction</h1>
<hr>
<p class="text-center">If we compare video games produced 10 years ago and modern games,
 you will realize a significant difference between their technical and visual capability.
  Every year,  the video game industry produces hundreds of upgraded games that are in tune with the times.
   Designers try to create a satisfying and pleasurable user experience through good user interfaces and design practices. 
   Heroes and landscapes become more realistic from year to year. Plus, game websites are created and upgraded along with video games.
    In this article, we will describe types of game websites in depth and introduce 10 awesome game websites design examples.</p>
<hr>
<h1>Categories of gaming websites</h1>
<hr>
<p class="text-center">There is a big variety of game promotion models, as well as huge amounts of video games in the game industry.
 Almost every video game has its own website, which in turn are diverse.
 We outlined three main categories and choose good examples. 
 Here they are:</p>
 <hr>
<h2>1. Stand-alone game sites </h2>
Stand-alone
<p class="textcenter">
 Many videogames have their own websites that play different roles.
 Some of them can be just promo sites made right before a video game is released.
  Sometimes game websites serve not only as a content storage but also as a community platform.
   They also can be an e-commerce platform for selling gamer merch.
    All these aspects depend on how popular a game is, as well as the audience size.
     We choose three examples in this category.
     </p>
     <hr>
<div class="text-center">
<br>
 <a href="https://www.batmanarkhamknight.com/#poi">batmanarkhamknight</a>
<br>
<a href="http://us.battle.net/wow/en/legion/">.battle.net</a>

<br>
<a href="http://death-is-coming.info/">death-is-coming</a>
</div>
<hr>
{% endblock body %}